@{
    var color = $"border-color: {FilteredCount.Store.Color}!important";
}
<MudButton Disabled="@IsLoading" Class="@($"filter-button {(IsActive ? string.Empty : "inactive-filter-button")}")" Style="@color" OnClick="@Clicked">
    <MudGrid Class="d-flex flex-column justify-center align-center m-4">
        <MudText Typo="Typo.h2">@($"{FilteredCount.Count:n0}")</MudText>
        <div class="d-flex flex-row justify-center align-center" style="margin-top: -8px">
            <MudText Typo="Typo.subtitle1">(</MudText>
            <MudIcon Icon="@Icons.Material.Filled.ArrowDownward" Size="Size.Small" Color="Color.Success"/>
            <MudText Color="Color.Success" Typo="Typo.subtitle1">@($"{FilteredCount.DecreasedCount:n0}")</MudText>
            <MudText Typo="Typo.subtitle1">/</MudText>
            <MudIcon Icon="@Icons.Material.Filled.Star" Size="Size.Small" Color="Color.Warning"/>
            <MudText Color="Color.Warning" Typo="Typo.subtitle1">@($"{FilteredCount.NewCount:n0}")</MudText>
            <MudText Typo="Typo.subtitle1">/</MudText>
            <MudIcon Icon="@Icons.Material.Filled.ArrowUpward" Size="Size.Small" Color="Color.Error"/>
            <MudText Color="Color.Error" Typo="Typo.subtitle1">@($"{FilteredCount.IncreasedCount:n0}")</MudText>
            <MudText Typo="Typo.subtitle1">)</MudText>
        </div>
        <MudText Typo="Typo.body1">@FilteredCount.Store.Name</MudText>
    </MudGrid>
</MudButton>