<MudNavMenu Bordered Style="height: 100%">
    <div class="d-flex justify-space-between flex-column" style="height: 100%">
        <div>
        </div>
        <div>
            <MudDivider/>

            <MudNavGroup Title="@L?["language"]" Icon="@Icons.Material.Filled.Flag">
                <MudNavLink OnClick="@(() => ChangeLanguage("de-DE"))">@L?["german"]</MudNavLink>
                <MudNavLink OnClick="@(() => ChangeLanguage("en-US"))">@L?["english"]</MudNavLink>
            </MudNavGroup>

            @if (IsDarkTheme)
            {
                <MudNavLink Icon="@Icons.Material.Filled.Lightbulb" OnClick="@ToggleTheme">@L?["lightTheme"]</MudNavLink>
            }
            else
            {
                <MudNavLink Icon="@Icons.Material.Outlined.Lightbulb" OnClick="@ToggleTheme">@L?["darkTheme"]</MudNavLink>
            }


            <MudNavLink Href="https://paypal.me/BRuckenstuhl" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Handshake" Target="blank">@L?["support"]</MudNavLink>
            
            <MudNavLink Href="https://github.com/Zumpel96/Teuerungsportal" Match="NavLinkMatch.Prefix" Icon="@Icons.Custom.Brands.GitHub" Target="blank">@L?["source"]</MudNavLink>

            <MudNavLink Href="/impress" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Help">@L?["impress"]</MudNavLink>
        </div>
    </div>
</MudNavMenu>