@page "/categories/{categoryName}"

<PageTitle>@L?["appName"] - @L?["category"]</PageTitle>

@if (CurrentCategory != null)
{
    <MudBreadcrumbs Items="@ParentCategories"/>

    <MudGrid>
        <MudItem xs="12">
            <MudText Typo="Typo.h1">@CurrentCategory.Name</MudText>
            <MudAlert Severity="Severity.Info" Class="my-3">@L?["categoryInfo"]</MudAlert>
            <MudDivider/>
        </MudItem>

        <MudItem xs="12">
            <MudTabs Rounded="true" ApplyEffectsToContainer="true">
                <MudTabPanel Text="@L?["metadata"]">
                    <MudPaper Class="mud-width-full pa-3">
                        <div class="my-3">
                            <MudText Typo="Typo.h6">@L?["parentCategory"]</MudText>
                            @if (IsLoading)
                            {
                                <MudSkeleton Width="40%" Height="1rem"/>
                            }
                            else
                            {
                                @if (CurrentCategory.ParentCategories.Any())
                                {
                                    <MudText Typo="Typo.body1">@CurrentCategory.ParentCategories.First().Name</MudText>
                                }
                                else
                                {
                                    <MudText Typo="Typo.body1">@L?["noParentCategory"]</MudText>
                                }
                            }
                        </div>

                        <div class="my-3">
                            <MudText Typo="Typo.h6">@L?["subCategories"]</MudText>

                            @if (IsLoading)
                            {
                                <MudSkeleton Width="60%" Height="1rem"/>
                            }
                            else
                            {
                                @if (CurrentCategory.SubCategories.Any())
                                {
                                    <MudList>
                                        @foreach (var subCategory in CurrentCategory.SubCategories)
                                        {
                                            <MudListItem Href=@($"/categories/{subCategory.Name}")>
                                                @subCategory.Name
                                            </MudListItem>
                                        }
                                    </MudList>
                                }
                                else
                                {
                                    <MudText Typo="Typo.body1">@L?["noSubCategoriesText"]</MudText>
                                }
                            }
                        </div>
                    </MudPaper>
                </MudTabPanel>
                <MudTabPanel Text="@L?["history"]">
                    <MudPaper Class="mud-width-full pa-3">
                        @if (IsLoading)
                        {
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="200px"/>
                        }
                        else
                        {
                            <InflationChart ChartData="@PriceHistory"/>
                        }
                    </MudPaper>
                </MudTabPanel>
                <MudTabPanel Text="@L?["recentPriceChanges"]">
                    <MudPaper Class="mud-width-full pa-3">
                        @if (IsLoading)
                        {
                            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="400px"/>
                        }
                        else
                        {
                            @if (PriceHistory.Any())
                            {
                                <RecentPriceChanges PriceChanges="@PriceHistory" HideCategory/>
                            }
                            else
                            {
                                <MudText Typo="Typo.body1">@L?["noRecentPriceChangesText"]</MudText>
                            }
                        }

                    </MudPaper>
                </MudTabPanel>
            </MudTabs>
        </MudItem>
    </MudGrid>
}