@page "/favorites"
@using Teuerungsportal.Helpers

<PageTitle>@L?["appName"] - @L?["favorites"]</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h1">@L?["priceHistory"]</MudText>
        @if (IsLoadingPriceHistory)
        {
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="400px"/>
        }
        else
        {
            <InflationTransitionChart ChartData="@InflationHistory"/>
        }
    </MudItem>

    <MudItem xs="12" Class="my-8">
        <MudGrid>
            <MudItem xs="12" md="6" lg="4">
                <MudPaper Class="dashboard-card">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h2">@L?["newProducts"]</MudText>
                        </MudItem>

                        <MudItem xs="12" Class="d-flex align-center flex-column">
                            @if (IsLoadingProductsCounts)
                            {
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="6rem"/>
                            }
                            else
                            {
                                <MudText Class="justify-center dashboard-heading" Align="Align.Center" Style="font-size: 4rem">@($"{ProductsCounts.Count:n0}")</MudText>
                            }

                            <div style="width: 160px;">
                                <MudSelect T="string" Variant="Variant.Text" AdornmentColor="Color.Primary" AnchorOrigin="Origin.BottomCenter" Value="SelectedFilter" ValueChanged="FilterChanged">
                                    <MudSelectItem Value="@("/day")">@L?["today"]</MudSelectItem>
                                    <MudSelectItem Value="@("/week")">@L?["thisWeek"]</MudSelectItem>
                                    <MudSelectItem Value="@("/month")">@L?["thisMonth"]</MudSelectItem>
                                    <MudSelectItem Value="@("/year")">@L?["thisYear"]</MudSelectItem>
                                    <MudSelectItem Value="@("")">@L?["allTime"]</MudSelectItem>
                                </MudSelect>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>

            <MudItem xs="12" md="6" lg="4">
                <MudPaper Class="dashboard-card">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h2">@L?["priceChanges"]</MudText>
                        </MudItem>

                        <MudItem xs="12" Class="d-flex align-center flex-column">
                            @if (IsLoadingPriceChangesCount)
                            {
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="6rem"/>
                            }
                            else
                            {
                                <MudText Class="justify-center dashboard-heading" Align="Align.Center" Style="font-size: 4rem">@($"{PriceChangesCounts.Count:n0}")</MudText>
                            }

                            <div style="width: 160px;">
                                <MudSelect T="string" Variant="Variant.Text" AdornmentColor="Color.Primary" AnchorOrigin="Origin.BottomCenter" Value="SelectedFilter" ValueChanged="FilterChanged">
                                    <MudSelectItem Value="@("/day")">@L?["today"]</MudSelectItem>
                                    <MudSelectItem Value="@("/week")">@L?["thisWeek"]</MudSelectItem>
                                    <MudSelectItem Value="@("/month")">@L?["thisMonth"]</MudSelectItem>
                                    <MudSelectItem Value="@("/year")">@L?["thisYear"]</MudSelectItem>
                                    <MudSelectItem Value="@("")">@L?["allTime"]</MudSelectItem>
                                </MudSelect>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>

            <MudItem xs="12" md="6" lg="4">
                <MudPaper Class="dashboard-card">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.h2">@L?["inflation"]</MudText>
                        </MudItem>

                        <MudItem xs="12" Class="d-flex align-center flex-column">
                            @if (IsLoadingInflationData)
                            {
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="6rem"/>
                            }
                            else
                            {
                                <MudText Class="justify-center dashboard-heading" Align="Align.Center" Style="font-size: 4rem">@($"{InflationData.Count:n2}")%</MudText>
                            }

                            <div style="width: 160px;">
                                <MudSelect T="string" Variant="Variant.Text" AdornmentColor="Color.Primary" AnchorOrigin="Origin.BottomCenter" Value="SelectedFilter" ValueChanged="FilterChanged">
                                    <MudSelectItem Value="@("/day")">@L?["today"]</MudSelectItem>
                                    <MudSelectItem Value="@("/week")">@L?["thisWeek"]</MudSelectItem>
                                    <MudSelectItem Value="@("/month")">@L?["thisMonth"]</MudSelectItem>
                                    <MudSelectItem Value="@("/year")">@L?["thisYear"]</MudSelectItem>
                                    <MudSelectItem Value="@("")">@L?["allTime"]</MudSelectItem>
                                </MudSelect>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12">
        <MudDivider/>
    </MudItem>

    <MudItem xs="12">
        <MudButton Disabled="@(IsLoadingProductData)" Variant="Variant.Text" Color="@(OrderType == OrderType.Descending ? Color.Primary : Color.Transparent)" OnClick="@(() => ChangeOrderType(OrderType.Descending))">
            @L?["descending"]
        </MudButton>
        <MudButton Disabled="@(IsLoadingProductData)" Variant="Variant.Text" Color="@(OrderType == OrderType.Ascending ? Color.Primary : Color.Transparent)" OnClick="@(() => ChangeOrderType(OrderType.Ascending))">
            @L?["ascending"]
        </MudButton>
        <MudButton Disabled="@(IsLoadingProductData)" Variant="Variant.Text" Color="@(OrderType == OrderType.PriceChange ? Color.Primary : Color.Transparent)" OnClick="@(() => ChangeOrderType(OrderType.PriceChange))">
            @L?["priceChange"]
        </MudButton>
        <MudButton Disabled="@(IsLoadingProductData)" Variant="Variant.Text" Color="@(OrderType == OrderType.Time ? Color.Primary : Color.Transparent)" OnClick="@(() => ChangeOrderType(OrderType.Time))">
            @L?["priceChangeDate"]
        </MudButton>
    </MudItem>

    <MudItem xs="12">
        <RecentPriceChanges PriceChanges="@TotalPriceChanges" IsLoading="@(IsLoadingProductData)" HideStore Virtualize/>
    </MudItem>
</MudGrid>